<p>my-movie works!</p>
<!-- <p>{{movie | json}}</p> -->

<div class="container">

  <button routerLink='/home'>Home</button>
  <div class="movie-img">
    <img src="{{movie.poster}}" alt="">
  </div>
  <div class="movie-info">
    <h2>{{movie.title}}</h2>
    <p> <b> Genres: </b>{{movie.genres}}</p>
    <p> <b> Year: </b>{{movie.year}}</p>
    <p> <b> Director: </b>{{movie.director}}</p>
    <p> <b> Actors:</b></p>
    <p *ngFor='let actor of movie.actors'>- {{actor}}</p>
    <p> <b>Synopsis: </b>{{movie.synopsis}}</p>
  </div>


</div>

